
@font-face {
  font-family: 'Volte';
  src: url(../font/Volte.otf);
}

@font-face {
  font-family: 'Volte-Medium';
  src: url(../font/Volte-Medium.otf);
}

body {
  font-family: 'Volte';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Volte-Medium';
  font-weight: 800 !important;
}
p{
  margin-bottom: 5px;
}
.clr-red{
  color:#DA251C;
}
.clr-blue{
  color:#061138;
}
.clr-white{
  color:#FFF;
}
.bg-blue{
  background-color: #061138;
}
.bg-red{
  background-color: #DA251C;
}
.bg-grey{
  background-color: #EFEFEF;
}
.bg-white{
  background-color: #FFF;
}
.f16{
  font-size: 16px;
}
.f18{
  font-size: 18px;
}
.f20{
  font-size: 20px;
}
.f40{
  font-size: 40px;
}
.f54{
  font-size: 3.5rem;
}
.first-heading{
  font-size: 3.5rem;
  line-height: 1.2;
  color:#DA251C;
}
.second-heading{
  font-size: 2.5rem;
  line-height: 1.2;
  color:#DA251C;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
  }
}

.btn-booknow{
  background-color: #061138;
  color:#FFF;
}
.btn-booknow:hover{
  color:#FFF;
  background-color: #DA251C;
}

.navbar{
  padding: 0px;
}
.navbar-custom {
  background-color: #FFF;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
.navbar-dark .navbar-toggler {
  background-color: #061138;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #061138;
  font-family: 'Volte-Medium';
}

.nav-link:focus,.nav-link:hover,.nav-link.active {
  color:#DA251C !important;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #6c236d;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 200px;
  color: #061138;
}
.mt30{
  margin-top: -30px;
}

#why-us{
  background-image: url("../img/why-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.img-hover-zoom{
  position: relative;
  overflow: hidden;
}
.img-hover-zoom img {
  transition: transform .5s ease;
  border-radius: 10px;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.bottom-right {
  position: absolute;
  bottom: 12px;
  right: 20px;
  color: #FFF;
}
.view-more{
  color: #061138;
  text-decoration: none;
  float:right;
  font-weight: bold;
  font-size: 14px;
}
.view-more:hover{
  color: #DA251C;
  text-decoration: none;
}

.brdrds0{
  border-radius: 0px !important;
  border:none;
}
.brd-box{
  box-shadow: 0px 0px 10px #0000001A;
}
.testim-box{
  -webkit-box-shadow: 0px 0px 13px #00000029;
  -moz-box-shadow: 0px 0px 13px #00000029;
  box-shadow: 0px 0px 13px #00000029;
  background-color: #FFF;
  border-radius: 5px;
  color: #999999;
}
.name-tag{
  background-color: #DA251C;
  width: 150px;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 0px;
  float: right;
  margin-top: -30px;
}
.ul-square{
  color: #061138;
  list-style-type: square;
  font-weight: bold;
  cursor: pointer;
}
.min-hgt{
  min-height: 250px;
}
.ul-square li:hover{
  color: #DA251C;
}

.btn-subscribe{
  background-color: #DA251C;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 40px;
}
.enayble{
  color: #DA251C;
  font-size: 14px;
  font-weight: bold;
}
.enayble:hover{
  text-decoration: none;
  color: #DA251C;
}
.ft-hr{
  background-color: #F1F1F1;
}
.footer-link{
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
}
.footer-link:hover{
  color: #DA251C;
  text-decoration: none;
}
.view-more i{
  display: none;
}
.view-more:hover i{
  display: inline-flex;
}
.m100{
  margin-top: 78px;
}
.mt200{
  margin-top: -200px;
}
.p100{
  padding-top: 100px;
}

.p150{
  padding-top: 150px;
}

.brdcum{
  color: #FFF;
  font-family: 'Volte-Medium';
}
#about-us{
  background-image: url("../img/about-us.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}
#domestic{
  background-image: url("../img/domestic.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}
#international{
  background-image: url("../img/international.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}
#flights{
  background-image: url("../img/flights.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}
#contact-us{
  background-image: url("../img/contact-us.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}
.undlne{
  display:inline-block;
  border-bottom:1px solid #DA251C;
  padding-bottom:2px;
  width:100px;
}

@media (max-width: 991px){
  .text-right{
    text-align: left !important;
  }
  .carousel-caption {
    padding-bottom: 50px;
  }
  .first-heading{
    font-size: 2rem;
  }
  .mobile-right{
    text-align: right !important;
  }
}
@media (max-width: 479px){
  .carousel-caption {
    padding-bottom: 5px;
  }
  .first-heading{
    font-size: 1.2rem;
  }
}
.place-view{
  color: #FFF;
  background-color: #061138;
  padding: 5px 10px;
  height: 32px;
}
.place-view:hover{
  color: #FFF;
  text-decoration: none;
}

.img-box{
 position: relative;
 display: inline-block;
}

.img-box .img-hide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.img-title {
  display: none !important;
}
.img-box:hover .img-hide{
  display: inline;
}
.img-box:hover  .img-title {
  display: flex !important ;
}
.prev-title {
  display: flex !important ;
}
/*.img-box:hover  .prev-title{
  display: none !important ;
  }*/
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #061038;
    font-weight: bold;
    background-color: transparent;
    border: none;
  }
  .page-item.active .page-link {
    z-index: 1;
    color: #DA251C;
    background-color: transparent;
    border-color: transparent;
  }
  .enq-label{
    text-transform: uppercase;
    color: #061038;
    font-size: 12px;
    font-weight: bold;
  }
  .btn-submit{
    color: #FFF;
    background-color: #061038;
    padding: 2px 30px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .btn-submit:hover{
    color: #FFF;
    background-color: #DA251C;

  }

  .enq-form .form-control {
    line-height: 1.5;
    color: #495057;
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .drpdwn .dropdown-menu{
    background-color: #061038;
    color: #FFF;
    border-radius: 0;
  }
  .drpdwn .dropdown-item.active,.drpdwn .dropdown-item:active,.drpdwn .dropdown-item:hover{
    background-color: #DA251C;
    color: #FFF;
    font-weight: bold;
  }
  .drpdwn .dropdown-item{
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
  }
  .brd-rds{
    border-radius: 9px;
  }

  .contact-submit{
    background-color: #E30000;
    color: #fff;
    font-weight: bold;
  }
  .contact-submit:hover{
    background-color: #E30000;
    color: #fff;
    font-weight: bold;
  }
  .contact-form .form-control{
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0px;
  }

  #insurance{
    background-image: url("../img/insurance.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }
  #corporate{
    background-image: url("../img/corporate.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }

  #car-rental{
    background-image: url("../img/car-rental.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }
  #visa{
    background-image: url("../img/visa.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }

  .btn-carrent{
    background-color: #DA251C;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
  }
  .btn-carrent:hover{
    color: #FFF;
  }
  @media (max-width: 991px){
    .btn-carrent{
      font-size: 16px;
    }
    .carousel-item .f16{
      font-size: 10px;
    }
    .navbar{
      padding: 0px 20px;
    }
    .brdcum{
      font-size: 12px;
    }
    .f54{
      font-size: 2.5rem;
    }

  }

  #interprise-tickets{
    background-image: url("../img/interprise-tickets.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }
  #virtual-desk{
    background-image: url("../img/virtual-desk.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }

  #booknow{
    background-image: url("../img/booknow.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }

  .brd-btm-red{
    border-bottom: 1px solid #DA251C;
  }

  @media (max-width: 767px){
    .mobile-center{
      text-align: center;
    }
    .bottom-right{
      right: 100px;
    }
  }